header {
    background-color: #814c02;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: inset 0px 3px 10px #ffffffb6;
}

.navlist {
    display: flex;
    justify-content: end;
    gap: 3rem;
    padding-right: 5rem;
}

li {
    list-style: none;
}

a, a:visited {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

