.articleContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.articleCard {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;
    
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: inset 2px 2px 5px #00000034;
}

h2 {
    color: #814c02;
    text-shadow: 1px 1px 2px #00000028;
}

.time {
    border-top: 1px solid rgba(0, 0, 0, 0.217);
    padding-top: 10px;
    font-size: 12px;
}

#detailLink {
    font-size: 18px;
    color: #814c02;
}